@import './variables.scss';

html,
body {
  font-family: PingFangSC-Medium, PingFang SC, 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $popup-color;
  background: $popup-bg;
  font-size: $font-size-root;
  width: $popup-width;
  height: $popup-mx-height;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

label.bp-label {
  font-size: 14px;
  padding: 0.25rem 0.5rem;
}

.keystore-tips {
  font-size: 12px;
  padding: 0.25rem 0.5rem;
}
