/** text font */

.size-xsmall {
  font-size: 0.5rem;
}

.font-xsmall {
  font-size: 0.75rem;
}

.pb-item div.v-list-item__title {
  font-size: 14px !important;
  margin: 2px auto;
  color: rgba(25, 25, 29, 1);
}

.pb-item div.v-list-item__subtitle {
  color: rgba(25, 25, 29, 1) !important;
  margin: 2px auto;
  font-size: 14px !important;
}

.pb-item input {
  outline: 0;
}

.pb-item div.v-list-item__subtitle.pb-item-hostname {
  font-size: 12px !important;
  color: rgba(140, 144, 146, 1);
}
