bp-extension-button,
bp-selector-options {
  all: initial !important;
  position: fixed !important;
  z-index: 2747483646 !important;
}

img.bp-img--wrapper,
img.bp-img--wrapper:hover {
  cursor: pointer !important;
}

img.bp-img--pointer:hover {
  cursor: pointer !important;
}

iframe#__bp_iframe_menu body {
  background: transparent !important;
}
